MySolitaire/Intermediate/CachedAssetRegistry_0.bin
MySolitaire/Intermediate/CachedAssetRegistryDiscovery.bin
MySolitaire/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
MySolitaire/Saved/AutoScreenshot.png
MySolitaire/Saved/Config/CrashReportClient/UECC-Windows-18183C1F459998C86DD6AAB445404FD5/CrashReportClient.ini
MySolitaire/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
MySolitaire/Saved/Logs/MySolitaire-backup-2025.12.04-11.12.32.log
MySolitaire/Saved/Logs/MySolitaire.log
MySolitaire/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_b019937a1bd5f916/Default/DDCKey-Editor.txt
